<div class="mt-4 container">
  <h1 class="h3 my-3">新規投稿画面</h1>
  <div class="row my-2">
    <div class="col-md-3">
      <label for="inputEventDate" class="form-label">食べた日</label>
      <input type="text" class="form-control" placeholder="2020/01/01" aria-label="食べた日">
    </div>
  </div>
  <div class="row g-3 my-2">
    <div class="col-md-4">
      <label for="inputShopName" class="form-label">店名</label>
      <input type="text" class="form-control" placeholder="お店の名前" aria-label="お店の名前">
    </div>
    <div class="col-md-4">
      <label for="inputMenu" class="form-label">メニュー</label>
      <input type="text" class="form-control" placeholder="食べたもの" aria-label="食べたもの">
    </div>
    <div class="my-3 col-md-8">
      <label for="commentTextarea" class="form-label">コメント</label>
      <textarea class="form-control" id="commentTextarea" placeholder="感想を入力" 
                aria-label="感想を入力" rows="3"></textarea>
    </div>
  </div>
  <div>
    <button type="submit" class="btn btn-info">投稿する</button>
  </div>
</div>